$inputWidth: 75%;
$outputWidth: 100% - $inputWidth;

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$computer-min: 992px;
$computer-max: 1199px;
$largescreen-min: 1200px;
$largescreen-max: 1919px;
$widescreen-min: 1920px;

* {
  box-sizing: border-box;
}

::selection {
  background-color: #bbb;
}

html, body, #root, #app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #212226;
}

body, textarea {
  font-family: Menlo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

textarea {
  border: none;
  resize: none;
  background-color: transparent;
}

#app {
  position: relative;
}

#input, #output {
  margin: 0;
  float: left;
  height: 100%;
  white-space: pre-wrap;
  @media (max-width: $tablet-max) {
    padding: 15px;
    font-size: 14px;
    line-height: 28px;
  }
  @media (min-width: $computer-min) {
    padding: 50px;
    font-size: 18px;
    line-height: 36px;
  }
}

#input {
  outline: none;
  color: #e3e7e9;
  width: $inputWidth;
}

#output {
  color: #8dd32d;
  text-align: right;
  width: $outputWidth;
}

#line {
  top: 0;
  width: 1px;
  height: 100%;
  position: fixed;
  left: $inputWidth;
  background-color: #3c3c3c;
}
